.site-footer {
	margin-top: 55px;
	padding-top: 66px;
	padding-bottom: 75px;
	background-color: #0085ca;
}

.footer-link {
	display: block;
	width: 224px;
	margin: 0 auto;
}

.footer-wrapper {
	margin-top: 105px;
	padding-bottom: 97px;
	border-bottom: 1px solid #fff;
}

.site-footer__link {
	font-size: 20px;
	line-height: 154%;
	letter-spacing: -0.35px;
	color: #ffffff;
	text-decoration: none;
}

.site-footer_list-item {
	margin-bottom: 15px;
}

.site-footer_list-item:last-child {
	margin-bottom: 25px;
}

.site-footer__strong {
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.35px;
	color: rgba(255, 255, 255, 0.9);
}

.site-footer__location {
	width: 410px;
}

.site-footer__location-item {
	position: relative;
	padding-left: 30px;
}

.site-footer__location-item:nth-child(1):before {
	position: absolute;
	top: 8px;
	left: 5px;
	width: 18px;
	height: 15px;
	background-image: url('../../assets/images/icons/footer-tel.svg');
	background-repeat: no-repeat;
	content: '';
}

.site-footer__location-item:nth-child(2):before {
	position: absolute;
	top: 8px;
	left: 5px;
	width: 18px;
	height: 15px;
	background-image: url('../../assets/images/icons/footer-location.svg');
	background-repeat: no-repeat;
	content: '';
}

.site-footer__input {
	width: 230px;
	padding: 18px 15px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.35px;
	color: #414141;
	background-color: #fff;
	border: none;
}

.site-footer__button {
	padding: 17px 15px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.35px;
	color: #e5f3fa;
	background-color: #78d64a;
	border-color: transparent;
}

.site-footer__desc {
	margin: 20px 0;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.35px;
	color: rgba(255, 255, 255, 0.9);
}

.site-footer__copyright {
	padding-top: 52px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #ffffff;
}
